#header {
    position: absolute;
    border: 2px;
    border-color: #22a3d6;
    border-style: dashed;
}

.header_content {
  background-color: #0000ff;
}

#page_content1 {
      position: relative;
      top: 30px;
      font-size: 30px;
}

.red_text {
  color : #1d13b3;
}

#page_content {
      position: relative;
      top: 30px;
      font-size: 30px;
}

.menu_item {
    color : #00ff00;
    font-size: 24px;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;            /* Footer height */
}
